@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  font-weight: 300;
  padding: .7rem 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  background-color: #ede7f6;
  text-align: left;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

form {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.fade-enter,
.fade-exit {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity .5s ease-in;
}